{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Javiman's bookshelf</title>

    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="{% static 'img/app_icon.png' %}">
    <link rel="apple-touch-startup-image" href="{% static 'img/splash.jpg' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/library.css' %}">
    <script src="{% static 'js/material.min.js' %}"></script>

    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="{% static 'core-js/client/shim.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'zone.js/dist/zone.js' %}" type="text/javascript"></script>
    <script src="{% static 'reflect-metadata/Reflect.js' %}" type="text/javascript"></script>
    <script src="{% static 'systemjs/dist/system.src.js' %}" type="text/javascript"></script>

    <!-- 2. Configure SystemJS -->
    <script src="{% static 'systemjs.config.js' %}" type="text/javascript"></script>
    <script>
        System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>
<body>
    <div class="main-container">
        <bookshelf></bookshelf>
    </div>
</body>
</html>
