html {
    font-family: arial, serif;
    font-size: $font-size;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
    padding: 0 20px;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: $yellow;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.mdl-button {
    background: #E8E8E8;

    &:hover,
    &:focus,
    &:active {
        background: #D5D5D5;
    }
}

.mdl-button--accent {
    color: $black;
}

ul {

}
li {
    margin-bottom: 10px;
}

[hidden] {
    display: none !important;
}
