// Book shelf
.bookshelf {
    background: $yellow;
    color: $black;
    flex-grow: 1;
    padding: 20px;
    margin: 0 -20px;
}
.bookshelf-header {
    position: relative;

    .book-form {
        bottom: auto;
        min-height: 400px;
        width: 320px;
    }
}
.bookshelf-header__title {
    @include respond-to("lap") {
        flex-grow: 1;
    }
}

// Book list
.book-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 40px 0 40px -20px;
    padding: 0;
}
.book-list__item {
    margin: 0 0 40px;
    max-width: 100%;
    padding-left: 20px;
    width: 100%;
    //height: 400px;

    @include respond-to("lap") {
        //height: 420px;
        width: 50%;
    }
    @include respond-to("lap-lg") {
        //height: 440px;
        width: 33.3333%;
    }
    @include respond-to("desk") {
        //height: 460px;
        width: 25%;
    }
    @include respond-to("desk-lg") {
        //height: 500px;
        width: 20%;
    }
}

// Wishlist
.wishlist {
    background: $black;
    color: $yellow;
    margin: 0 -20px;
    padding: 20px;
}
