// Book component
.book {
    position: relative;
}
.book-card {
    width: 100%;
    position: relative;
}
.book-card__title,
.book-card__author,
.book-card__amazon {
    display: block;
    margin: 5px 0;
}
.book-card__image {
    display: block;
}
.book-card__info {
    background: rgba(0,0,0,0.5);
    bottom: 0;
    color: #fff;
    position: absolute;
}
.book-card__actions {
    button {
        margin: 0 0 5px;
    }
}