// Book form
.book-form-mask {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
}
.book-form {
    background: $white;
    bottom: 0;
    color: $black;
    left: 0;
    max-width: 100%;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 6;
}
.book-form__title {
    font-size: 24px;
    margin-top: 0;
}
.book-form__row {
    margin: 0 0 10px;

    label {
        display: block;
        font-size: 20px;
        line-height: 40px;
    }
    input[type="text"] {
        display: block;
        flex-grow: 1;
        width: 100%;
    }
    input[type="checkbox"] {
        margin-top: 14px;
    }
}
.book-form__actions {
    margin-top: 20px;
}