@mixin respond-to($media) {
    @if $media == "lap" {
        @media only screen and (min-width: 420px) { @content; }
    }
    @else if $media == "lap-lg" {
        @media only screen and (min-width: 700px) { @content; }
    }
    @else if $media == "desk" {
        @media only screen and (min-width: 980px) { @content; }
    }
    @else if $media == "desk-lg" {
        @media only screen and (min-width: 1280px) { @content; }
    }
}
