// MDL
@import '../../node_modules/material-design-lite/src/color-definitions';
$image_path: '/static/img/mdl';
$color-primary: $palette-blue-grey-500;
$color-primary-dark: $palette-blue-grey-700;
$color-accent: $palette-orange-A200;

// Library variables
$black: #222;
$yellow: #ffab40;
$light-grey: #f5f5f5;
$white: #FFF;

$font-size: 18px;


