<div class="book">
    <div class="mdl-card book-card">
        <img src="{{ book.image }}" class="book-card__image" width="100%" height="auto" border="0" alt="">
        <div class="book-card__info mdl-card__actions">
            <div class="book-card__title">{{ book.title }}</div>
            <div class="book-card__author">{{ book.author }}</div>
            <a class="book-card__amazon"
               target="_blank"
               [hidden]="!book.in_wishlist"
               href="{{ book.amazon_link }}"
            >Find in amazon.co.uk</a>
            <div class="book-card__actions">
                <button [hidden]="!canManageBook()" (click)="openBookForm()" class="mdl-button mdl-js-button mdl-button--raised">Update</button>
                <button [hidden]="!canManageBook()" (click)="deleteBook()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Delete</button>
            </div>
        </div>
    </div>
    <book-form [hidden]="!book.showBookForm" [book]="book"></book-form>
</div>