<section class="bookshelf">
    <header class="bookshelf-header">
        <h1 class="bookshelf-header__title">Javi's Bookshelf</h1>
        <button [hidden]="!canCreateBook()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="openBookForm()">Add book to bookshelf</button>
        <book-form [hidden]="!newBook.showBookForm" [book]="newBook"></book-form>
    </header>

    <book-list listType="bookshelf"></book-list>
</section>

<section class="wishlist">
    <header class="bookshelf-header">
        <h1 class="bookshelf-header__title">Javi's Wishlist</h1>
    </header>

    <book-list listType="wishlist"></book-list>
</section>