<div class="book-form-mask"></div>
<div class="book-form">
    <h1 class="book-form__title">Book details</h1>
    <form>
        <input type="hidden" [(ngModel)]="book.id">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="title{{ book.id }}" [(ngModel)]="book.title">
            <label class="mdl-textfield__label" [attr.for]="'title' + book.id">Title</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="author{{ book.id }}" [(ngModel)]="book.author">
            <label class="mdl-textfield__label" [attr.for]="'author' + book.id">Author</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="image{{ book.id }}" [(ngModel)]="book.image">
            <label class="mdl-textfield__label" [attr.for]="'image' + book.id">Cover url</label>
        </div>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" [attr.for]="'in_wishlist' + book.id">
            <input type="checkbox" id="in_wishlist{{ book.id }}" class="mdl-checkbox__input" [(ngModel)]="book.in_wishlist">
            <span class="mdl-checkbox__label">In wishlist</span>
        </label>
        <div class="book-form__actions">
            <button class="mdl-button mdl-js-button mdl-button--raised" (click)="cancel()">Cancel</button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="save()">Save</button>
        </div>
    </form>
</div>
